<div fxLayout="column">
    <div fxFlex>
        <h2>Buttons</h2>
    </div>

    <div fxFlex fxLayoutGap="20px">
        <button k-button>
            Default
        </button>

        <button k-button class="primary">
            Primary
        </button>

        <button k-button class="danger">
            Danger
        </button>

        <button k-button class="link">
            Link
        </button>

        <button k-button disabled>
            Disabled
        </button>
    </div>

    <div fxFlex>
        <h2>Button groups</h2>
    </div>

    <div fxFlex fxLayoutGap="20px">
        <k-button-group>
            <button k-button class="primary">
                Left
            </button>

            <button k-button class="primary">
                Middle
            </button>

            <button k-button class="primary">
                Right
            </button>
        </k-button-group>
    </div>
</div>
