<k-side-nav>
	<k-side-nav-section heading="Elements">
		<k-side-nav-item>
			<a routerLink="button" routerLinkActive="active">Button</a>
		</k-side-nav-item>

		<k-side-nav-item>
			<a routerLink="alert" routerLinkActive="active">Alert</a>
		</k-side-nav-item>

		<k-side-nav-item>
			<a routerLink="progress-bar" routerLinkActive="active">Progress Bar</a>
		</k-side-nav-item>

		<k-side-nav-item>
			<a routerLink="smart-contenteditable" routerLinkActive="active">Smart Content Editable</a>
		</k-side-nav-item>
	</k-side-nav-section>

	<k-side-nav-section heading="Forms">
		<k-side-nav-item>
			<a routerLink="checkbox" routerLinkActive="active">Checkbox</a>
		</k-side-nav-item>
	</k-side-nav-section>

	<k-side-nav-section heading="Navigation">
		<k-side-nav-item>
			<a routerLink="tabs" routerLinkActive="active">Tabs</a>
		</k-side-nav-item>

		<k-side-nav-item>
			<a routerLink="sidenav" routerLinkActive="active">Side Nav</a>
		</k-side-nav-item>
	</k-side-nav-section>
</k-side-nav>
