<div class="container" fxLayout="column"  fxLayoutGap="2rem">
	<div fxLayout="column" fxLayoutGap="2rem">
		<div fxFlexAlign="center" class="text-center">
			<div class="logo">
				<img src="/assets/kosmo.svg" />
			</div>

			<h1 class="h1">Kosmo UI</h1>
			<h2 class="h2">A lightweight collection of reusable Angular components</h2>
		</div>
	</div>

	<div fxLayoutAlign="center" fxLayout="row" fxLayoutGap="2rem">
		<button k-button class="primary lg" routerLink="docs">
			Get Started
		</button>

		<button k-button class="lg">
			Github
		</button>
	</div>
</div>

