@import "variables";

:host {
	display: flex;
	box-shadow: $box-shadow-base;
	padding: 0.75rem 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 1;
}

h1 {
	margin: 0;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.brand {
	text-decoration: none;
	color: initial;

	span {
		vertical-align: 7px;
	}
}
