/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@import "../lib/core/style";

@import "./app/shared/styles/prettyprint";
@import "./app/shared/styles/headings";
@import "./app/shared/styles/layout";
@import "./app/shared/styles/text";

