<div fxLayout="column">
	<div fxFlex>
		<h2>Checkbox</h2>
	</div>

	<div fxFlex fxLayoutGap="2em">
		<k-checkbox #one>
			<input checked type="checkbox" />
			<span>{{ one.active ? 'Checked' : 'Unchecked' }}</span>
		</k-checkbox>

		<k-checkbox #two>
			<input type="checkbox" />
			<span>{{ two.active ? 'Checked' : 'Unchecked' }}</span>
		</k-checkbox>

		<k-checkbox [indeterminate]="true">
			<input type="checkbox" />
			<span>Indeterminate</span>
		</k-checkbox>

		<k-checkbox>
			<input disabled type="checkbox" />
			<span>Disabled</span>
		</k-checkbox>
	</div>
</div>
